DATABASE_URL=postgresql://postgres:postgres@db:5432/calendar_app
SECRET_KEY=supersecret
ACCESS_TOKEN_EXPIRE_MINUTES=60
JWT_ALGORITHM=HS256

GOOGLE_CLIENT_ID=id
GOOGLE_CLIENT_SECRET=secret
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback
GOOGLE_OAUTH_SCOPE=openid email profile https://www.googleapis.com/auth/calendar




FRONTEND_SUCCESS_URL=http://localhost:5173/dashboard
BACKEND_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
VITE_API_URL=http://localhost:8000
